.default-color0.chart-pie { -fx-pie-color: #737373; }
.default-color1.chart-pie { -fx-pie-color: #0b5db5; }
.default-color2.chart-pie { -fx-pie-color: #eab509; }
.default-color3.chart-pie { -fx-pie-color: #737373; }
.default-color4.chart-pie { -fx-pie-color: #0b5db5; }
.default-color5.chart-pie { -fx-pie-color: #eab509; }